<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitStats</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <header>
      <h1>GitStats</h1>
    </header>
    <main>
      <h2><h2>Looking for API Information?</h2></h2>
      <p>
        Please see the
        <a
          href="https://github.com/Lambda-School-Labs/github-commit-analysis-be"
          >README</a
        >
        for more information on where to go!
      </p>
    </main>
  </body>
</html>
